body{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    transition: opacity 0.5s ease;
}

.loading {
    opacity: 0;

}

.loading.hiden{
    display: none;
}

.loading.active {
    opacity: 1;
}

.loader.active{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: #f3f3f3;
}

.loader{
    opacity: 0;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0c0101;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    opacity: 1;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.top{
    background-image: url('../icon/head/background.jpg');
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.top .wrapper{
    color: ghostwhite;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.head{
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 999;
}

.head.active{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    transition: 0.5s;
}


.head .wrapper{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;

}

.head .wrapper .block{
    display: flex;
    justify-content: end;
    padding: 20px;
}

.head .wrapper .block .text{
    padding: 10px;
    font-size: 25px;
    opacity: 1;
    color: #f3f3f3;
    text-decoration: none;
    transition: 0.5s;
}

.head .wrapper .block .text:hover{
    color: #097009;
    transition: 0.5s;
}

.head .wrapper .block .text.hiden{
    padding: 10px;
    font-size: 25px;
    display: none;
    opacity: 0;
}

.head .wrapper .block .text .img{
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
}

.top .wrapper .main{
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0px 5%;
    margin: 0;
    height: 80%;
}


.top .wrapper .main .block{
    display: flex;
    flex-direction: column;
    padding: 80px 0 100px 0;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.top .wrapper .main .sec-block{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 0px;
    width: 10%;
}

.top .wrapper .main .text{
    padding: 0px;
    color: #097009;
    font-size: 36px;
}

.top .wrapper .main .sec-block .img{
    width: 30px;
    height: 30px;
    margin: 3px 0px;
    filter: brightness(0) invert(1);
    transition: 0.5s;
}

.top .wrapper .main .sec-block .img:hover{
    cursor: pointer;
    filter: none;
    border-color: white;
    border-radius: 30px;
    background-color: white;
    transition: 0.5s;
}

.menu.active{
    position: absolute;
    background-color: #3a3a3a;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
}

.menu{
    display: none;
}

.menu .block .text{
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding: 20px;
    transition: 0.5s;
}

.menu .block .text:hover{
    cursor: pointer;
    color: #097009;
    transition: 0.5s;
}

.menu .close{
    margin: 30px 30px 0 0;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.menu .close:hover{
    cursor: pointer;
    color: #097009;
    transition: 0.5s;
}

.menu .close .btn{
    font-size: 30px;
}

.about{
    padding: 30px 0;
}

.about .wrapper{
    display: flex;
    justify-content: space-between;
}

.about .wrapper .block{
    width: 50%;
}

.about .wrapper .sec-block{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.about .wrapper .block .title{
    font-size: 50px;
    text-transform: uppercase;
    color: #097009;
}

.about .wrapper .block .block{
    font-size: 20px;
    width: 80%;
    padding: 5px;
}

.about .wrapper .sec-block img{
    width: 80%;
    border-radius: 80%;
}

.about .wrapper .sec-block .title{
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 40px;
}

.about .wrapper .sec-block p{
    margin: 0;
    padding: 20px;
    font-size: 24px;
    color: #097009;
}