@media (max-width: 1200px) {
    .wrapper {
        max-width: 1000px;
    }


    .experience .wrapper .body .fir-block .block.img{
        margin: 0px 10px;
    }

    .block-port .slide .block-video{
        width: 400px;
    }

    .block-port .slider .slide{
        width: 940px;
    }

}

@media (max-width: 950px){
    .block-port .slider .slide{
        justify-content: space-evenly;
        padding: 0;
        margin: 10px 0;
    }
    .block-port .slider .slide .block-video{
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 900px) {


        .wrapper {
        max-width: 800px;
        padding: 0 auto;
    }

    .head .wrapper .block{
        padding: 5px;
    }

    .head .wrapper .block .text.hiden{
        display: block;
        opacity: 1;
    }

    .head .wrapper .block .text{
        display: none;
        opacity: 0;
    }

    .top .wrapper .main{
        flex-direction: column;
    }

    .top .wrapper .main .sec-block{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .top .wrapper .main .block{
        padding: 0;
    }

    .top .wrapper .main .sec-block .img{
        padding: 10px;
    }

    .top .wrapper .main{
        align-items: center;
    }

    .about .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .about .wrapper .block{
        width: 90%;
    }
    .about .wrapper .sec-block{
        display: flex;
        align-items: start;
        flex-direction: row;
        width: 90%;
    }

    .about .wrapper .sec-block img{
        width: 40%;
    }

    .about .wrapper .sec-block .title{
        padding-left: 0;
    }

    .about .wrapper .sec-block p{
        padding-left: 0;
    }

    .skill{
        max-height: 750px;
    }

    .skill .wrapper .block .block{
        width: 45%;
    }

    .skill .wrapper .block{
        margin: 10px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .program .wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    .program .wrapper .block{
        width: 100%;
    }

    .program .wrapper .sec-block{
        padding: 10px 0;
        width: 100%;
        flex-wrap: nowrap;
    }

    .language .wrapper .block{
        flex-wrap: wrap;
        justify-content: center;
    }

    .block-port .slide .block-video{
        max-width: 800px;
        min-width: 500px;
        margin: 50px 120px ;
    }
    .block-port .slider .slide{
        padding: 0;
        margin: 0;
        width: auto;

    }

    .block-port .slider .slide .block-video {
    margin: 50px 120px;
    }

}

@media (max-width: 650px) {
    .block-port .slider .slide .block-video {
        margin: 50px;
    }
}


@media (max-width: 600px) {

    .wrapper {
        max-width: 500px;
    }

    .top{
        height: 300px;
    }

    .top .wrapper{
        font-size: 16px;
    }

    .top .wrapper .main .text{
        font-size: 14px;
    }

    .top .wrapper .main .sec-block .img{
        width: 20px;
        height: 20px;
    }

    .head .wrapper .block .text .img{
        width: 20px;
        height: 20px;
    }
    .head .wrapper .block {
        margin: 0px;
        padding: 10px;
        }

    .head{
        height: 50px;
    }

    .about .wrapper .sec-block{
        flex-direction: column;
    }

    .about .wrapper .sec-block img{
        width: 70%;
    }

    .skill{
       max-height: 1100px;
    }

    .skill .wrapper .block .block{
        width: 100%;
    }

    .skill .wrapper .block{
        margin: 10px;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .program .wrapper .sec-block{
        flex-wrap: wrap;

    }

    .experience .wrapper .body .fir-block .block.img{
        display: none;
    }

    .block.img{
        width: 100%;
        border-top: 1px solid #3a3a3a;
    }

    .experience .wrapper .body{
        flex-direction: column;
    }

    .experience .wrapper .body .fir-block{
        width: 90%;
        flex-direction: column;
    }

    .experience .wrapper .body .sec-block{
        width: 90%;
    }

    .experience .wrapper .body .fir-block .text{
        width: 90%;
    }

    .experience .wrapper .body .fir-block .text2{
        width: 90%;
    }

    .experience .wrapper .body .fir-block .img{
        width: 90%;
        height: auto;
    }

    .experience .wrapper .body .fir-block .block-img{
        display: none;
    }

    .block-port .slide .block-video{


    }

    .portfolio .wrapper .block-port{
        padding-right: 30px;
    }

    .block-port .slider .slide .block-video{
        max-width: 400px;
        min-width: 250px;
        margin: 50px;
    }

}

@media (max-width: 500px) {
    .block-port .slider .slide .block-video{
        max-width: 400px;
        min-width: 250px;
        margin: 30px;
    }
}

@media (max-width: 431px) {
    .block-port .slider .slide .block-video{
        max-width: 431px;
        min-width: 391px;
    }

    .portfolio .wrapper .block-port{
        padding-right: 0;
    }
}

@media (max-width: 391px) {
    .block-port .slider .slide .block-video{
        max-width: 350px;
        min-width: 250px;
        margin: 20px;
    }
}